:root {
  /* Colors */
  --primary: hsl(205, 85%, 42%);
  --primarydark: hsl(205, 85%, 22%);
  --primarymid: hsl(205, 85%, 52%);
  --primarylight: hsl(205, 85%, 62%);

  --secondary: hsl(295, 85%, 52%);
  --secondarymid: hsl(295, 85%, 42%);
  --secondarylight: hsl(295, 85%, 32%);

  --white: #fffafa;
  --black: #141010;

  --bg: hsl(205, 85%, 10%);
  --text: hsl(205, 85%, 95%);

  --success: hsl(144, 57%, 40%);
  --successmid: hsl(144, 57%, 50%);
  --successlight: hsl(144, 57%, 60%);

  --warn: hsl(39, 100%, 48%);
  --warnmid: hsl(39, 100%, 58%);
  --warnlight: hsl(39, 100%, 68%);

  --error: hsl(350, 69%, 34%);
  --errormid: hsl(350, 69%, 44%);
  --errorlight: hsl(350, 69%, 54%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
